<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{device.name}} ({{device.deviceid}})</h4>
        <div class="card-text">
            <pre>{{device.brandName}} {{device.productModel}}</pre>
            <p>
                {{device.json}}
            </p>
        </div>
    </div>
</div>